
<div class="container-fluid mt-1 p-2">
    <div class="d-flex justify-content-between bd-highlight">
        <div class="p-1 ms-5 bd-highlight logo">ClearTrip</div>
        <div class="p-1 ms-5 border bd-highlight">
            <button type="button" class="btn btn-primary px-2">Login/sign up</button>
        </div>
      </div>
      <div class="container w-75 mt-2 p-2 shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
             <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100  d-flex justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-column"routerLinkActive="active" routerLink="/hotels">
                         <img src="https://img.freepik.com/premium-vector/hotel-logo-design_423075-16.jpg" alt=""width="50" height="50">
                        <span>Hotels</span> 
                        </a>
                      </li>
                  <li class="nav-item border">
                    <a class="nav-link d-flex flex-column" routerLink="/flights"routerLinkActive="active">
                        <img src="https://www.pngfind.com/pngs/m/238-2387973_air-png-transparent-background-flight-logo-png-png.png" alt="" width="50" height="50">
                        <span>Flights</span>
                      </a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link  d-flex flex-column" >
                      <img src="https://img.freepik.com/premium-vector/realtor-home-staging-luxury-logo-design_373791-2729.jpg" alt="" width="50" height="50">
                      HomeStays
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" >
                      <img src="https://img.freepik.com/premium-vector/minimalistic-train-logo-monochrome-design-style_693838-356.jpg" alt="" width="50" height="50">
                     <span>Trains</span> 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" >
                      <img src="https://t3.ftcdn.net/jpg/05/71/69/10/360_F_571691018_GxAIRdpQ1wk38db2lYkWQEhxqalnBsL3.jpg" alt=""width="50" height="50">
                      Buses
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  d-flex flex-column" >
                      <img src="https://pngimg.com/d/taxi_logos_PNG5.png" alt=""width="50" height="50" >
                     <span> Cabs</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  d-flex flex-column" >
                      <img src="https://img.freepik.com/premium-vector/unique-holiday-logo-design_568822-89.jpg" alt=""width="50" height="50">
                     <span> Holiday Pakages</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  d-flex flex-column" >
                      <img src="https://www.orientexchange.in/img/travel.png" alt=""width="50" height="50">
                     <span>Travel Insurance</span>
                    </a>
                  </li>
                 
                </ul>
              </div>
            </div>
          </nav>
      </div>
</div>
